# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Alexandra.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\C# projects\Alexandra\.idea\.idea.Alexandra\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
